.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: block;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 16px;
  width: 160px
}

#main_content {
  margin-top: 80px;
}

.info_label {
  padding: 0 20px 0 10px;
}

#patient_image {
  border: #000000;
}
