<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="AccuReg"
    src="{{logoUrl}}"
  />
</div>

<div class="content" id="main_content" role="main">
  <div class="personal_info">
      <table>
        <tr>
          <td class="info_label"><p>First:</p></td>
          <td class="info_value"><p>{{data.firstName}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Middle:</p></td>
          <td class="info_value"><p>{{data.middleName}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Last:</p></td>
          <td class="info_value"><p>{{data.lastName}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Suffix:</p></td>
          <td class="info_value"><p>{{data.suffix}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Date of Birth:</p></td>
          <td class="info_value"><p>{{data.dob}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Age:</p></td>
          <td class="info_value"><p>{{data.ageInYears}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Social Security Number:</p></td>
          <td class="info_value"><p>{{data.ssn}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Address:</p></td>
          <td class="info_value"><p>{{data.addr1}}</p></td>
        </tr>
        <tr *ngIf="data.addr2">
          <td class="info_label"></td>
          <td class="info_value"><p>{{data.addr2}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>City:</p></td>
          <td class="info_value"><p>{{data.city}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>State:</p></td>
          <td class="info_value"><p>{{data.state}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Zip Code:</p></td>
          <td class="info_value"><p>{{data.zip}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Country:</p></td>
          <td class="info_value"><p>{{data.country}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Email:</p></td>
          <td class="info_value"><p>{{data.email}}</p></td>
        </tr>
        <tr>
          <td class="info_label"><p>Contact Preference:</p></td>
          <td class="info_value"><p>{{data.contactPreference}}</p></td>
        </tr>
      </table>
  </div>

</div>

